# Python
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.log
*.bak

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
myenv/
my_env/
ENV/
.venv/
.Python

# VS Code
.vscode/

# MacOS
.DS_Store

# Environment Variables
.env
*.env

# Migrations (optional — only ignore if not sharing migrations)
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.pyo
**/migrations/*.pyd
*.migrations/
# Uncomment the line below if you want to ignore migration files completely
# **/migrations/*.py

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Other
*.swp

db.sqlite3
